@media (min-width: 320px) and (max-width: 576px)  {
 .one_img{
    height: 130px;
    width: 130px;
 }
 .four_img{
    height: 130px;
    width: 150px;
 }
 .four_pic{
   transform: rotate(30deg);
   top: 30px !important;
   left: 150px !important;
 }
.five_img{
   height: 130px;
    width: 150px;
}
.five_pic{
   top: 30px !important;
   left: 10px !important;
}
.one_pic{
   top: 214px !important;
   left: 16px !important;
   transform: rotate(-130deg) !important;
}
.three_img{
   height: 130px;
    width: 140px;
}
.three_pic{
   transform: rotate(160deg) !important;
   top: 228px !important;
   left: 150px !important;
}
.two_pic{
   top: 140px !important;
   left: 240px !important;
   transform: rotate(90deg) !important;
}
.login-box {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 100px;
  padding: 40px;
}
.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ff989c;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #ff989c;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #ff989c,
              0 0 25px #ff989c,
              0 0 50px #ff989c,
              0 0 100px #ff989c;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ff989c);
  animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ff989c);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #ff989c);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ff989c);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}
