body{
	margin: 0 auto;
	padding: 0;
}
header{
	background-image: url("img_header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 260px;
	margin: 0 auto;
	padding: 0;
}
@media (min-width: 320px) and (max-width: 576px)  {
	header{
	background-size: contain;
	}
	.happy_txt{
		color: #f3dcf4;
		font-family: Courier New, monospace;
		font-size: 23px;
		padding: 30px;
	}
	p{
		margin: 0;
		padding: 0;
	}
	.login-box {
  position: absolute;
  top: 10%;
  left: 18%;
  width: 100px;
  padding: 40px;
}
.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #f3dcf4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 50px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #f3dcf4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #f3dcf4,
              0 0 25px #f3dcf4,
              0 0 50px #f3dcf4,
              0 0 100px #f3dcf4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #f3dcf4);
  animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #f3dcf4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #f3dcf4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #f3dcf4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}
	section{
		background-color: #d1d1d1ab;
		width: 100%;

	}
	.one_cvet{
		padding: 20px;
	}
	.one_cvet {
	position: absolute;
	width: 200px;
	height: 300px;
	background-size: cover;
	/*Устанавливаем время и имя анимации*/
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	}
	@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
	}
	@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
	}
	.one_pic p{
		color: #535853;
		position: absolute;
	width: 160px;
	height: 300px;
	margin-left: 230px;
	margin-top: 90px;
	background-size: cover;
	/*Устанавливаем время и имя анимации*/
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn2;
	}
	@-webkit-keyframes fadeIn2 {
	0% {opacity: 0;}
	100% {opacity: 1;}
	}
	@keyframes fadeIn2 {
	0% {opacity: 0;}
	100% {opacity: 1;}
	}
	.two_pick{
		height: 1000px;
	}
	.two_cvet{
		margin-top: 370px;
		margin-left: 130px;

	}
	.vl {
		z-index: -1;
		margin-top: -680px;
		margin-left: 80px;
		position: relative;
	    border-left: 3px solid #000000;
	    height: 330px;
	}
	.vl2 {
		z-index: -1;
		top: 108%;
		left: 60%;
		position: absolute;
	    border-left: 3px solid #000000;
	    height: 33px;
	}
	.line {
		z-index: 0;
    border-bottom: 3px solid #0000006e; 
    width: 80%;
    margin-left: 80px;
   }
   .two_pick p{
   	margin-left:200px;
   	color: #00000099;
   }
   .three_pick{
   	padding: 30px;
   	height: 230px;
   }
   .three_pick p{
   	height: 300px;
   	font-size: 23px;
   	position: absolute;
   	color: #00000099;
   	top: 1050px;
   	left: 320px;
  writing-mode: vertical-rl;
	}
	.four{
   	padding: 20px;
   	padding-left: 30px;
   	height: 235px;
   }
   .vl3 {
		z-index: -1;
		top: 141%;
		left: 50%;
		position: absolute;
	    border-left: 1px solid #000000;
	    height: 287px;
	}
	.four_text{
		width: 150px;
		color: #00000099;
	}
	.line2 {
		z-index: 0;
    border-bottom: 1px solid #0000006e; 
    width: 50%;
    position: absolute;
    left: 50%;
   }
   .five_cvet{
   	position: absolute;
   	left: 52%;
   	top: 147%;
   }
}
